body {
    /* background-color: aliceblue; */
    background-image:url("world_map.jpg");
    background-position: top;
}
h1 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    opacity: 0.7;
    padding-top: 20px;
}
h2 {
    margin: 0 0 10px;
}
select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
}
.container {
    font-family: sans-serif;
    max-width: 450px;
    margin: 60px auto;
    /* background-color: white; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(30px);
    padding-bottom: 50px;
}
.city {
    border-bottom: dashed;
    border-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0; 
}
.city:last-child {
    border: none;
}
.cities {
    margin-top: 40px;
}
.date {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5)
}
.time {
    font-size: 38px;
    font-weight: bold;
}
.time small {
    font-size: 18px;
    vertical-align: middle;
}
.back {
    display: inline-block;
    margin-left: 38%;
    font-family: sans-serif;
    padding: 10px 20px;
    background-color: fff;
    border-style: solid;
    border-color: #727272;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
}
.back:hover {
    background-color: rgb(225, 223, 223);
}
a .back {
    background-color: fff;
    border-style: solid;
    border-color: #727272
}
a {
    text-decoration: none;
    color: #605f5f;
    opacity: 0.9;
}
a:hover {
    text-decoration: underline;
}

footer {
    display: block;
    margin: 0 auto;
    max-width: 480px;
    text-align: center;
    font-family: sans-serif;
    font-stretch: condensed;
    font-size: 14px;
    color: #605f5f;
    margin-top: -20px;
    backdrop-filter: blur(30px);
    border-radius: 5px;
}